body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #031321;
    overflow: hidden;
}


  /* Popup arrow */
  .popup {    
    position: fixed;
    align-items: center;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    border-width: 5px;
    width: 45%;
    min-width: 650px;
    height: 65%;
    padding: 15px;
    background: #1e1e20;
    display: none;


    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px; 

    box-shadow: 0px 15px 60px 20px rgba(0.2,0,0.2,0.3);
    text-align: center;
}

